:root {
	--palette-primary-color: #FFFFFF;
	--palette-secondary-color-0: #000000;
	--palette-secondary-color-1: #932023;
	--palette-secondary-color-2: yellowgreen;
	--palette-additional-color: #4332FF;
}